<div>
  <header>
    <h1 style="text-align: center !important">Nutrição UNA</h1>
  </header>

  <div style="width: 85%; margin: 0 auto;">
    <section>
      <h2 style="text-align: center !important">
        <strong
          >Nutrição para Jovens: Como se Alimentar de Forma Saudável e
          Divertida</strong
        >
      </h2>

      <section>
        <p>
          Se você é um jovem, provavelmente tem muitas coisas em mente, como escola,
          esportes, amigos e hobbies. Mas você já parou para pensar na importância
          da sua alimentação? A nutrição desempenha um papel crucial em sua vida,
          fornecendo a energia e os nutrientes necessários para enfrentar todas as
          aventuras que a juventude tem a oferecer. Neste artigo, vamos explorar
          como você pode adotar hábitos alimentares saudáveis ​​de uma forma
          divertida e sem abrir mão do prazer de comer.
        </p>
      </section>

      <section>
        <h3>1. Faça Escolhas Coloridas:</h3>
        <p>
          Alimentos coloridos são muitas vezes os mais saudáveis. Frutas e legumes
          de todos os núcleos têm nutrientes diferentes, então quanto mais variados
          forem seus pratos, melhor. Experimente fazer uma salada de frutas ou
          legumes coloridas e veja como ela pode ser uma explosão de sabor e
          diversão.
        </p>
      </section>

      <section>
        <h3>2. Lanches Inteligentes:</h3>
        <p>
          Em vez de alcançar os salgadinhos ou doces, opte por lanches saudáveis.
          Mix de castanhas, iogurte com frutas, ou mesmo pedaços de cenoura com
          hummus são opções deliciosas e nutritivas. Eles fornecem a energia
          necessária para suas atividades diárias.
        </p>
      </section>

      <section>
        <h3>3. Beba Água:</h3>
        <p>
          A água é uma bebida perfeita para se manter hidratado. Beba pelo menos
          oito copos de água por dia para manter seu corpo funcionando de forma
          ideal. Leve uma garrafa de água com você para a escola e atividades
          esportivas.
        </p>
      </section>

      <section>
        <h3>4. Envolva-se na Cozinha:</h3>
        <p>
          Cozinhar pode ser uma experiência divertida e educativa. Peça a um adulto
          para ensiná-lo a cozinhar algumas refeições simples. Você pode
          experimentar diferentes receitas e aprender a fazer escolhas alimentares
          mais saudáveis.
        </p>
      </section>

      <section>
        <h3>5. Coma com os Amigos:</h3>
        <p>
          Comer com os amigos pode ser uma maneira divertida de compartilhar
          refeições saudáveis. Organize noites de pizza saudável em que cada amigo
          traga seus próprios ingredientes favoritos para cobrir a massa de trigo
          integral.
        </p>
      </section>

      <section>
        <h3>6. Seja Consciente:</h3>
        <p>
          Comer consciente envolve prestar atenção ao que você está comendo. Evite
          comer em frente à TV ou ao computador e saborear cada mordida. Isso pode
          ajudá-lo a evitar o excesso de comida e desfrutar
        </p>

        <ul>
          <li>
            Frutas e Cores: Sabia que a cor das frutas e vegetais geralmente indica
            os nutrientes que eles contêm? Por exemplo, alimentos vermelhos, como
            morangos e tomates, são ricos em licopeno, um antioxidante. Os alimentos
            verdes, como espinafre e brócolis, são uma excelente fonte de ferro e
            fibras.
          </li>
          <li>
            Melancia sem Sementes: Você já se perguntou como as melancias sem
            sementes são criadas? Eles são resultados de classificações específicas
            que eliminam a formação de sentimentos, tornando o consumo mais
            conveniente.
          </li>
          <li>
            Curiosidade Sobre o Abacate: O abacate é uma fruta única. É uma das
            poucas que contém gorduras saudáveis, conhecidas frutas como gorduras
            monoinsaturadas. Isso o torna um ótimo ingrediente para guacamole e
            sanduíches saudáveis.
          </li>
          <li>
            Maçãs Flutuam: As maçãs flutuam na água porque cerca de 25% da sua massa
            é composta por ar. Isso também explica por que as maçãs podem ser tão
            crocantes.
          </li>
          <li>
            Chocolate e Cacau: O chocolate é feito a partir do cacau. O cacau em pó
            é rico em antioxidantes que podem beneficiar a saúde, mas o chocolate ao
            leite contém menos cacau e mais açúcar e gordura.
          </li>
          <li>
            Arroz Colorido: Você já viu arroz colorido? Em alguns lugares, como o
            Japão, o arroz é cultivado em variedades que produzem grãos vermelhos,
            roxos e até mesmo pretos. Isso cria uma apresentação visualmente
            interessante e uma experiência de sabor única.
          </li>
          <li>
            Brócolis é uma Flor: Os brócolis que consumimos são, na verdade, flores
            que ainda não floresceram. São colhidos antes de desabrocharem,
            tornando-os mais comestíveis e saborosos.
          </li>
        </ul>
      </section>

      <section>
        <h2 style="text-align: center !important; padding-bottom: 20px;">
          <strong>Os Malefícios de uma Alimentação Desregrada: Por Que Comer Mal é
            Prejudicial?</strong>
        </h2>
        <p>
          Quando somos jovens, é fácil cair na tentação de fast food, doces e
          refrigerantes. Afinal, esses alimentos costumam ser saborosos e práticos.
          No entanto, é essencial entender que uma alimentação desregrada e rica em
          alimentos não saudáveis ​​pode ter sérios impactos negativos na nossa
          saúde. Neste artigo, vamos explorar os malefícios do comer mal e como isso
          pode afetar a qualidade de vida dos jovens.
        </p>
      </section>

      <section>
        <h3>1. Ganho de Peso e Obesidade:</h3>
        <p>
          Uma das consequências mais óbvias de uma dieta rica em calorias vazias e
          alimentos processados ​​é o ganho de peso. O consumo excessivo de açúcar,
          gorduras saturadas e sódio pode levar à obesidade, ou que por sua vez
          aumenta o risco de doenças como diabetes tipo 2, problemas cardíacos e
          pressão alta.
        </p>
      </section>

      <section>
        <h3>2. Problemas de Saúde Mental:</h3>
        <p>
          Estudos mostram que uma dieta pobre em nutrientes essenciais pode estar
          relacionada a problemas de saúde mental, como ansiedade e depressão. Além
          disso, a falta de energia resultante de uma alimentação consumida pode
          afetar o humor e o desempenho cognitivo.
        </p>
      </section>

      <section>
        <h3>3. Deficiências Nutricionais:</h3>
        <p>
          Comer mal muitas vezes significa que nosso corpo não recebe os nutrientes
          necessários para funcionar bem. Isso pode levar a deficiências de
          vitaminas e minerais, causando fadiga, enfraquecimento do sistema
          imunológico e outros problemas de saúde.
        </p>
      </section>

      <section>
        <h3>4. Impacto na Pele:</h3>
        <p>
          Uma dieta rica em alimentos processados ​​e açúcar pode contribuir para o
          surgimento de acne e outros problemas de pele. A inflamação causada por
          esses alimentos
        </p>
      </section>
    </section>
  </div>

  <footer>
    <p style="text-align: center !important">&copy; 2023 Nutrição UNA</p>
  </footer>

</div>
